<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DistanceServlet</servlet-name>
  	<display-name>DistanceServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DistanceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VillesServlet</servlet-name>
  	<display-name>VillesServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.VillesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.UpdateServlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>DistanceServlet</servlet-name>
  	<url-pattern>/DistanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VillesServlet</servlet-name>
  	<url-pattern>/VillesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>
